// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
    	mode "1920x1080@59.979" // Set resolution and refresh rate
	scale 1 // No scaling (use 2 for HiDPI)
}

output "LG Electronics LG ULTRAWIDE 0x00027393" {
	mode "2560x1080@74.991"
	scale 1
}
